server:
  port: 8080
spring:
  application:
    name: backend-api
  profiles:
    default: local
  config:
    import: application-core.yaml
  datasource:
    hikari:
      maximum-pool-size: 20
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
springdoc:
  swagger-ui:
    path: '/swagger-ui.html'
    tags-sorter: alpha
admin:
  password: ${ADMIN_PASSWORD}
token:
  secret: ${TOKEN_SECRET}