spring:
  datasource:
    url: 'jdbc:mysql://localhost:3306/wildflower_gardening?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useLegacyDatetimeCode=false&zeroDateTimeBehavior=convertToNull&cacheDefaultTimezone=false'
    username: ${RDS_USERNAME}
    password: ${RDS_PW}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      mode: always    # DB에 테스트데이터 셋팅
logging:
  config: classpath:log4j2/log4j2-prod.xml
admin:
  password: "test"
token:
  secret: "TokenSecretTokenSecretTokenSecretTokenSecretTokenSecret"
