spring:
  datasource:
    url: 'jdbc:mysql://database-1.cd0m20oq8ohk.us-east-2.rds.amazonaws.com/wildflower_gardening?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useLegacyDatetimeCode=false&zeroDateTimeBehavior=convertToNull&cacheDefaultTimezone=false'
    username: ${RDS_USERNAME}
    password: ${RDS_PW}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
logging:
  config: classpath:log4j2/log4j2-prod.xml
admin:
  password: ${ADMIN_PASSWORD}
token:
  secret: ${TOKEN_SECRET}