apiVersion: v1
kind: Pod
spec:
  containers:
    - name: jnlp
      image: jenkins/inbound-agent:latest
      resources:
        limits:
          cpu: '500m'
          memory: '512Mi'
        requests:
          cpu: '250m'
          memory: '256Mi'
    - name: kaniko
      image: gcr.io/kaniko-project/executor:latest
      command:
        - /busybox/cat
      tty: true
      resources:
        limits:
          cpu: '2'
          memory: '2Gi'
        requests:
          cpu: '1'
          memory: '1Gi'
      volumeMounts:
        - name: docker-config
          mountPath: /kaniko/.docker
  volumes:
    - name: docker-config
      secret:
        secretName: docker-hub-secret
