apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: kisacloud2407
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              value: 'wildflower_gardening'
            - name: MYSQL_ROOT_PASSWORD
              value: 'test'
          volumeMounts:
            - name: mysql-init-volume
              mountPath: /docker-entrypoint-initdb.d
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
          resources:
            requests:
              memory: '256Mi'
              cpu: '250m'
            limits:
              memory: '512Mi'
              cpu: '500m'
          args:
            - '--character-set-server=utf8mb4'
            - '--collation-server=utf8mb4_unicode_ci'
      volumes:
        - name: mysql-init-volume
          hostPath:
            path: /path/to/your/mysql-init.d
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim
