spring:
  datasource:
    url: 'jdbc:mysql://localhost:13306/wildflower_gardening?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useLegacyDatetimeCode=false&zeroDateTimeBehavior=convertToNull&cacheDefaultTimezone=false'
    username: ${RDS_USERNAME}
    password: ${RDS_PW}
  datasource-batch:
    url: 'jdbc:mysql://localhost:13306/wildflower_batch?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useLegacyDatetimeCode=false&zeroDateTimeBehavior=convertToNull&cacheDefaultTimezone=false'
    username: ${RDS_USERNAME}
    password: ${RDS_PW}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
server:
  port: 8081
logging:
  config: classpath:log4j2/log4j2-prod.xml
