apiVersion: v1
kind: Pod
metadata:
  name: jenkins-agent
  namespace: kisacloud2407
spec:
  containers:
    - name: jnlp
      image: jenkins/inbound-agent:latest
      resources:
        limits:
          cpu: '500m'
          memory: '512Mi'
        requests:
          cpu: '250m'
          memory: '256Mi'
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
        - /busybox/cat
      tty: true
      resources:
        requests:
          cpu: '1'
          memory: '1Gi'
        limits:
          cpu: '2'
          memory: '2Gi'
      volumeMounts:
        - name: docker-config
          mountPath: /kaniko/.docker
        - name: workspace-volume
          mountPath: /workspace
    - name: kubectl
      image: gcr.io/cloud-builders/kubectl
      command:
        - cat
      tty: true
      resources:
        limits:
          cpu: '500m'
          memory: '512Mi'
        requests:
          cpu: '250m'
          memory: '256Mi'
  volumes:
    - name: docker-config
      secret:
        secretName: docker-hub-secret
        items:
          - key: .dockerconfigjson
            path: config.json
    - name: workspace-volume
      hostPath:
        path: /home/jenkins/agent/workspace
